<h2>{{'emails.password_changed.header'|trans }}</h2>

<p>
    <a href="{{ confirmationUrl }}" style="padding: 10px 20px; background-color: #0d6efd; color: white; text-decoration: none;">
        {{'emails.password_changed.msg'|trans }}
    </a>
</p>

<p>{{'emails.confirmation_new_password.footer'|trans }}<a href="mailto:contact@body-language.org">contact@body-language.org</a>.</p>